.rsvpDiv {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    min-height: 600px;
}

.rsvpResponseDiv {
    text-align: left;
}

.rsvpFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2.5em;
}

.form {
    width: 100%;
}

.hr {
    background: #BEA456;
    height: 2px;
    border: 0px;
    /* width: 100px; */
}

.h2 {
    font-size: 1.4em;
}

.p {
    font-size: 1em;
}

.textarea {
    background-color: #ffffff00;
    font-family: "Josefin Sans";
    font-size: 1em;
    resize: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #797979;
}

.textarea:focus-visible {
    background-color: #ffffff00;
    border-radius: 10px;
    border: 1px solid #BEA456;
    outline: none;
}