.root {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
  }

  @media only screen and (min-width: 1300px) {
    .root {
      margin-left: 10vw;
      margin-right: 10vw;
    }
  }