.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 1000px;
    /* height: 500px; */
    background-color: #000;
}

.container {
    width: 700px;
}

.img {
    max-width: 100vw;
    height: auto;
    object-fit: cover;
}