/* Text sizing in view blocks */


/* xs */

@media screen and (max-width: 600px) {
    .headerTwoBlockText {
        font-size: 10vw;
    }
    .paragraphBlockText {
        font-size: 3vw;
    }
}


/* sm and larger */

@media screen and (min-width: 600px) {
    .headerTwoBlockText {
        font-size: 3vw;
    }
    .paragraphBlockText {
        font-size: 1.7vw;
    }
}

.verticalCenter {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.divTitleTextStyle {
    text-align: center;
    margin-top: 50px;
}

.blockDivStyle {
    text-align: center;
    /*background-color: '#f5e9ee';*/
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
}

.blockImageStyle {
    object-fit: cover;
    object-position: center;
    height: 350px;
}