@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.hero {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/hero_image_placeholder.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.heroTitle {
    color: white;
    font-family: 'Audhistine';
    font-size: 3.7vw;
}

.heroText {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroSubtitle {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    letter-spacing: .2vw;
}

p.avoidwrap {
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    .heroTitle {
        font-size: 8vw;
    }
    .heroSubtitle {
        font-size: 4vw;
    }
}

.btn {
    width: 90px;
    height: 45px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.199);
    border: 0px solid white;
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
    text-align: center;
    backdrop-filter: blur(5px);
}

svg {
    position: absolute;
    left: 0px;
    top: 0px;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: rgba(0, 0, 0, 0.103);
}

.btn:hover svg {
    stroke-dashoffset: -270;
}

.btn p {
    color: white;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

@font-face {
    font-family: 'Audhistine';
    src: local('Audhistine'), url(./assets/Audhistine.ttf) format('truetype');
}

p {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: .2vw;
}

h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: .4vw;
    margin: 5px;
}

h1 {
    font-family: 'Audhistine';
    letter-spacing: .2vw;
}


/* Link Style 10 */

a {
    position: relative;
    text-decoration: none;
    color: black;
    transition: color .15s ease-in-out;
}

a:hover {
    background-size: 100% 100%;
    cursor: pointer;
}

a:after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
    transform: translateY(-150%);
    transition: transform .15s ease-in-out, opacity .15s ease-in-out;
    background-color: gray;
}

a.is-active,
a:active,
a:focus,
a:hover {
    color: gray;
}

a.is-active:after,
a:active:after,
a:focus:after,
a:hover:after {
    transform: translateY(0);
    opacity: 1;
}

.centerCropped {
    background-position: center center;
    background-repeat: no-repeat;
}


/* Text sizing in view blocks */


/* xs */

@media screen and (max-width: 600px) {
    .headerTwoBlockText {
        font-size: 10vw;
    }
    .paragraphBlockText {
        font-size: 3vw;
    }
}


/* sm and larger */

@media screen and (min-width: 600px) {
    .headerTwoBlockText {
        font-size: 3vw;
    }
    .paragraphBlockText {
        font-size: 1.7vw;
    }
}

.verticalCenter {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}