@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
html,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.hero {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/hero_image_placeholder.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroTitle {
    color: white;
    font-family: 'Audhistine';
    font-size: 4vw;
}

.heroText {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroSubtitle {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    letter-spacing: .2vw;
}

.container {
    height: 100%;
}

@font-face {
    font-family: 'Audhistine';
    src: local('Audhistine'), url(./assets/Audhistine.ttf) format('truetype');
}