.blockDivStyle {
    text-align: center;
}

.divTitleTextStyle {
    text-align: center;
    margin-top: 50px;
}

.paragraphBlockText {
    font-size: 1.25em;
    text-align: center;
    margin: auto;
}

.countdownContainer {
    width: 350px;
    text-align: left;
    margin: auto;
}